<app-header-two></app-header-two>
<app-breadcrumbs></app-breadcrumbs>

<div class="register-section">
  <div class="row justify-content-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-header" style="text-align: center">
                  <h4>Register</h4>
              </div>
              <div class="card-body">
                  <form [formGroup]="signupForm"(ngSubmit)="signup()">
                    <div class="form-group row">
                      <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                          Address</label>
                      <div class="col-md-6">
                          <input type="text"[formControlName]="'email'" id="email_address" class="form-control" name="email-address" required
                              autofocus>
                              <span *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched" class="help-block">Please enter a valid email</span>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right">User Name</label>
                    <div class="col-md-6">
                        <input type="text"[formControlName]="'username'" class="form-control" required autofocus>
                        <span *ngIf="!signupForm.get('username')?.valid && signupForm.get('username')?.touched" class="help-block">Please enter a valid username</span>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                  <div class="col-md-6">
                      <input type="password"[formControlName]="'password'" id="password" class="form-control" name="password" required>
                      <span *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched" class="help-block">Please enter a valid password</span>
                  </div>
              </div>
              <div class="form-group row">
                <label for="firstName" class="col-md-4 col-form-label text-md-right">First Name</label>
                <div class="col-md-6">
                    <input type="text"[formControlName]="'firstName'" id="firstName" class="form-control" name="firstName" required>
                    <span *ngIf="!signupForm.get('firstName')?.valid && signupForm.get('firstName')?.touched" class="help-block">Please enter a valid firstname</span>
                </div>
                </div>
                <div class="form-group row">
                  <label for="lastname" class="col-md-4 col-form-label text-md-right">Last Name</label>
                  <div class="col-md-6">
                      <input type="text"[formControlName]="'lastName'" id="lastname" class="form-control" name="lastName" required>
                      <span *ngIf="!signupForm.get('lastName')?.valid && signupForm.get('lastName')?.touched" class="help-block">Please enter a valid lastname</span>
                  </div>
                  </div>

                  <div class="form-group row">
                    <label for="gender" class="col-md-4 col-form-label text-md-right">Gender</label>
                    <div class="col-md-6">
                      <select id="gender" class="form-control" formControlName="gender" required>
                        <option value="">Select Gender</option>
                        <option value="HOMME">Male</option>
                        <option value="FEMME">Female</option>
                        <option value="OTHER">Other</option>
                      </select>
                      <span *ngIf="!signupForm.get('gender')?.valid && signupForm.get('gender')?.touched" class="help-block">Please select a valid gender</span>
                    </div>
                  </div>




              <span class="col-md-6 offset-md-4">
                  <button type="submit" class="sign-up">
                      Sign Up
                  </button>
                  <span style="padding-left: 15px">Existing user? <a href="http://keycloak:8180/auth/realms/plateforme-pharmaceutique/protocol/openid-connect/auth?response_type=code&client_id=angular-client">Log In</a></span>
              </span>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>

<app-footer></app-footer>
