<app-header-two></app-header-two>
<app-breadcrumbs></app-breadcrumbs>
<div class="register-section">
  <div class="row justify-content-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-header" style="text-align: center">
                  <h4>update profile</h4>
              </div>
              <div class="card-body">
                  <form [formGroup]="signupForm"(ngSubmit)="onUpdate()">
                    <div class="form-group row ">
                      <label class="col-md-4 col-form-label text-md-right">User Name</label>
                      <div class="col-md-6">
                        <input type="text"[formControlName]="'username'" id="username" class="form-control" name="username" required
                        autofocus readonly >
                        <span *ngIf="!signupForm.get('userName')?.valid && signupForm.get('userName')?.touched" class="help-block">Please enter a valid email</span>
                      </div>
                  </div>
                    <div class="form-group row">
                      <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                          Address</label>
                      <div class="col-md-6">
                          <input type="text"[formControlName]="'email'" id="email" class="form-control" name="email" required
                              autofocus>
                              <span *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched" class="help-block">Please enter a valid email</span>
                      </div>
                  </div>

                <div class="form-group row">
                  <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                  <div class="col-md-6">
                      <input type="password"[formControlName]="'password'" id="password" class="form-control" name="password" required>
                      <span *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched" class="help-block">Please enter a valid password</span>
                  </div>
              </div>
              <div class="form-group row">
                <label for="firstName" class="col-md-4 col-form-label text-md-right">First Name</label>
                <div class="col-md-6">
                    <input type="text"[formControlName]="'firstName'" id="firstName" class="form-control" name="firstName" required>
                    <span *ngIf="!signupForm.get('firstName')?.valid && signupForm.get('firstName')?.touched" class="help-block">Please enter a valid firstname</span>
                </div>
                </div>
                <div class="form-group row">
                  <label for="lastname" class="col-md-4 col-form-label text-md-right">Last Name</label>
                  <div class="col-md-6">
                      <input type="text"[formControlName]="'lastName'" id="lastName" class="form-control" name="lastName" required>
                      <span *ngIf="!signupForm.get('lastName')?.valid && signupForm.get('lastName')?.touched" class="help-block">Please enter a valid lastname</span>
                  </div>
                  </div>






              <span class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!signupForm.valid">
                  <i class="far fa-edit">Update</i>
                </button>
              </span>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>
<app-footer></app-footer>
